.description {
	margin: 3px;

}

.collection-name {
	margin: 3px;
}

.collection-alert {
	visibility: hidden;
	margin: 3px;
}

.modal-body {
	height:95%;
}

#collectionModal .modal-body {
	max-height: 80%;
}
.trash {
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: lightgrey;
}

.body-iframe {
	position: relative;
	top: -472px;
	left: -375px;
	z-index: 1;

}

#collectionNameModal {
	z-index: 200000;
}

.modal-iframe {
	position: relative;
	top: -200px;
	left: -238px;
	z-index: 1;

}

.modal-iframe-holder {
	width:500px;
	height: 375px;
	overflow: hidden;
}

.commented-iframe {
	
}

.iframe {
	overflow: hidden;
	width: 250px;
	height: 187.5px;
	position: relative;
	float: left;
	margin: 2px;
}

.overlay {
	width: 250px;
	height: 187.5px;

	position: relative;
	z-index: 9000;
}

.group {
	height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: 0px;
}

#sortable-main {
	height: 700px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.description {
	text-align: center;
}

.main-grouping {
	border: 5px solid black;
}

.select-grouping {
	height: 720px;
	border: 5px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.space {
	height: 40px;
}

#myModal {
	z-index: 250000;
}

#collectionModal {
	z-index: 200000;
}

.commentsTable{
    border-radius:3px;
    width:500px;
    
}

.fill-comments{
    position:relative;
    top:-5px;
    left:10px;
    width:50px;
}

.category{
    width:400px;
}

.show-larger {

}

#collectionModal {
	width: 90%;
	height: 85%;
	left: 0;
	margin-left: 5%;
	margin-right: 5%;
	top: 5%;
}

.commentsDisplay {
	height: 140px;
	overflow: scroll;
	margin: 10px;
}

.tab-name-input {
	border: none;
	width: 70px;
	box-shadow: none;
}

.collections li a {
	padding: 4px;
	margin-top: 2px;
}